
@{
    ViewBag.Title = "AddDepartment";
}

<h2>AddDepartment</h2>

@if(ViewBag.Error == false)
{
    <p>Department is added to db with succes</p>
}

else { <p>Ann error occured during the procces</p>}
